@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    padding: 0px 20px;
    top: 40px;
    position: relative;
}

header > a > img {
    position: absolute;
    top: 0;
    left: 0;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul > li > a:hover {
    color: #fff;
    border-bottom: 1px solid darkgreen;
    padding-bottom: 5px;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul > li {
    list-style: none;
    margin-left: 20px;

}

li > a {
    text-decoration: none;
    color: #000;
}

.right {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}

.active { 
    color: white !important;
    border-bottom: 1px solid greenyellow !important; 
    padding-bottom: 5px !important; 
}

#search {
    display: none;
}

input[type=text] {
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.evenementen {
    color: #fff;
    display: inline-block;
    display: flex;
    flex-direction: row;
    font-size: 14.9px;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.center > h1 {
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.center > p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}
